*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    font-size:62.5%;
}
/* Index.html CSS Only */
h2{
    font-size:3rem;
}
h1{
    font-size:4rem;
}
p{
    font-size:2rem;
}

.container{
    margin:0 auto;
    max-width:1000px;
}
.container header{
    display:flex;
    justify-content: center;
}
.container header .top-nav{
    width:100%;
    display:flex;
    justify-content: space-around;
    padding-bottom:2%;
    border-bottom:2px solid grey;
}
.container header .top-nav a{
    color:grey;
    text-decoration:none;
    font-size:3rem;
}
.container header .top-nav a:hover{
    color:black;
    text-decoration: underline;
}
.container .main-content{
    display:flex;
    flex-direction:column;
}
.section{
    margin-top:5%;
}
.container .main-content .about-company{
    display:flex;
    flex-wrap:wrap;
    height:300px;
}
.container .main-content .text{
    display:flex;
    flex-direction:column;
    width:60%;
    justify-content: center;
    align-items: center;
}

.container .main-content .main-content-img{
    width:40%;
}
.container .main-content .founders{
    display:flex;
    height:300px;
}
.container .what-we-do{
    padding-top:5%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.container .what-we-do .card{
    display:flex;
    height:400px;
    padding:5% 0 5% 0;
}