.btn-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: rgba(217, 217, 217, 0.719);
  font-weight: bold;
  border: 1px solid #B79F57;
  border-radius: 5px;
  height: 50px;
  width: 250px;
  color: #B79F57;
}
.btn-styling:hover {
  cursor: pointer;
  color: rgba(217, 217, 217, 0.719);
  background: #B79F57;
  border: 1px solid rgba(217, 217, 217, 0.719);
  transition: 0.5s;
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 100%;
  width: 100%;
}
@media ("max-width:500px") {
  .container {
    width: 100%;
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}
header h1 {
  font-size: 3.5rem;
}
header .nav-contact-info {
  background: #232323;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 2.5rem;
}
header .nav-contact-info a {
  color: #B79F57;
  text-decoration: none;
  margin-right: 5%;
  font-size: 1.6rem;
}
header .nav-contact-info a:hover {
  color: #b33030;
}
header .top-nav {
  height: 13rem;
  width: 100%;
  background: rgba(217, 217, 217, 0.719);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .top-nav .nav-links {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header .top-nav .nav-links img {
  height: 100px;
}
header .top-nav .nav-links a {
  font-size: 2.6rem;
  color: #9b8648;
  text-decoration: none;
  margin-left: 2%;
}
header .top-nav .nav-links a:hover {
  color: #000000;
  text-decoration: underline;
  transition: 0.2s;
}
.top-header {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-header h2 {
  font-size: 6rem;
  font-weight: bold;
  color: #272727;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}
.top-header .btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: rgba(217, 217, 217, 0.719);
  font-weight: bold;
  border: 1px solid #B79F57;
  border-radius: 5px;
  height: 50px;
  width: 250px;
  color: #B79F57;
}
.top-header .btn:hover {
  cursor: pointer;
  color: rgba(217, 217, 217, 0.719);
  background: #B79F57;
  border: 1px solid rgba(217, 217, 217, 0.719);
  transition: 0.5s;
}
